{% extends "layout.html" %}

{% block title %}
Password
{% endblock %}

{% block main %}
<form action="/change_password" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="password" placeholder="New password"
            type="password" id = 'password_input' onkeyup="check_password();">
            <p id="password_status"></p>
    </div>
    <button class="btn btn-primary" type="submit" id = 'submit' disabled>Change</button>
</form>
<script>
  function check_password() {
    var password = document.getElementById("password_input").value;
    var label1 = document.getElementById("password_status");
    if (password.length <= 5) {
      label1.style.color = 'red';
      label1.innerHTML = 'Minimum no. of characters should be 6';
      document.querySelector('#submit').disabled = true;
      event.preventDefault();
    } else {
      label1.style.color = 'green';
      label1.innerHTML = 'Valid Password';
      document.querySelector('#submit').disabled = false;
    }
  }
</script>
{% endblock %}
